Repository flashbots/suave-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --allow-empty-input --fix, prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,mjs}": ["eslint --fix"],
  "*.css": ["stylelint --allow-empty-input --fix"],
  "*": [
    "prettier --ignore-unknown --write",
    "cspell --no-must-find-files --no-progress"
  ]
}

clarify comment
  docs/how-to/create-contracts/deploy-custom.mdx
Due: prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

begin addressing ferran feedback
  docs/tutorials/deploy-contracts.mdx
  docs/tutorials/run-suave.mdx
Due: prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

specs are public, dont need token in ci
  .github/workflows/pr-tests.yml
Due: prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

specs are public, dont need token in ci (#64)
  .github/workflows/pr-tests.yml
Due: prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

specs now public
  .github/workflows/pr-tests.yml
Due: prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

incorporate work from #63 to new deploy-contracts page
  docs/tutorials/deploy-contracts.mdx
Due: prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

begins work on what-is-suave, with new content + list styles for easier reading
  docs/understand/index.mdx
  docs/understand/meaning.mdx
  docs/understand/power.mdx
  docs/understand/welfare.mdx
  docs/what-is-suave.mdx
  src/components/List/List.tsx
  static/assets/OFA-example-flow.svg
  static/assets/OFA_And_Block_Flow.svg
  static/assets/block-building-flow.svg
  static/assets/rigil-architecture.svg
  static/assets/rigil-ccRequest-signature-flow.png
  static/assets/rigil-tx-flow.svg
  static/assets/rigil_confidential_data_store.svg
  static/img/fairier-transformers.png
  static/img/galactic-flashbot.png
  static/img/galactic-mobile.png
  tailwind.config.js
Due: eslint --fix, prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

attend to chris' feedback
  docs/developers/dev-tools.mdx
  docs/developers/ecosystem.mdx
  docs/resources/forge.mdx
  docs/resources/golang-sdk.mdx
  docs/resources/index.mdx
  docs/resources/rpc.mdx
  docs/resources/tools-resources.mdx
  docs/resources/typescript-sdk.mdx
  docs/sidebars.js
  docs/tutorials/deploy-contracts.mdx
  docs/tutorials/send-transactions.mdx
  docs/what-is-suave.mdx
Due: eslint --fix, prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

Chris dropdown feedback changes
  docs/tutorials/run-suave.mdx
  docs/what-is-suave.mdx
  src/components/List/List.tsx
Due: eslint --fix, prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

Chris dropdown feedback changes
  tailwind.config.js
Due: eslint --fix, prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

Final feedback for this PR
  docs/sidebars.js
  docs/tutorials/run-suave.mdx
Due: eslint --fix, prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

ports changes made in #61 to new structure + adds a few more directions
  docs/resources/typescript-sdk.mdx
Due: prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

minor adjustment
  docs/resources/typescript-sdk.mdx
Due: prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

the transaction receipt processing for ccrs actually fails
  docs/resources/typescript-sdk.mdx
Due: prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

direct expectations for ccr logs
  docs/resources/typescript-sdk.mdx
Due: prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

suave-viem updates from @zeroXbrock (#65)
  docs/resources/typescript-sdk.mdx
Due: prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

clarify code references and steps to create precompiles
  docs/tutorials/create-precompiles.mdx
Due: prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

clarify code references and steps to create precompiles (#67)
  docs/tutorials/create-precompiles.mdx
Due: prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

minor fix
  docs/resources/typescript-sdk.mdx
Due: prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

Adjusts emojis, embeds bankless video higher up, adjusts styles
  docs/sidebars.js
  docs/what-is-suave.mdx
  src/components/Video/Video.tsx
Due: eslint --fix, prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

Embeds Video, adjusts styles, minor fixes (#68)
  docs/resources/typescript-sdk.mdx
  docs/sidebars.js
  docs/what-is-suave.mdx
  src/components/Video/Video.tsx
Due: eslint --fix, prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

suggestion for community structure for dmarzzz
  docs/community/index.mdx
  docs/community/suapps.mdx
  docs/community/tools.mdx
  docs/resources/tools-resources.mdx
  docs/sidebars.js
  docusaurus.config.js
Due: eslint --fix, prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

Adds build a suapp tutorial and makes some accommodating shifts
  docs/resources/index.mdx
  docs/resources/rigil.mdx
  docs/resources/tools-resources.mdx
  docs/resources/typescript-sdk.mdx
  docs/sidebars.js
  docs/tutorials/build-suapps.mdx
  docs/tutorials/send-transactions.mdx
Due: eslint --fix, prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

touching up
  docs/tutorials/build-suapps.mdx
Due: prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

Updates based on Brock's fix
  docs/tutorials/build-suapps.mdx
Due: prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

See if this fixes build
  yarn.lock
Due: prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

Shift package managers
  .cspell.json
  .github/workflows/pr-tests.yml
  README.md
  package-lock.json
  tsconfig.json
  yarn.lock
Due: prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

still fixing build stuff
  .github/workflows/pr-tests.yml
  README.md
Due: prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

still fixing build stuff
  package.json
Due: prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

now can successfully update to latest version
  package-lock.json
  package.json
Due: prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

testing build
  docs/index.mdx
Due: prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

build suapp page
  docs/index.mdx
  docs/sidebars.js
  docs/tutorials/build-suapps.mdx
Due: eslint --fix, prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

begin changing resources structure
  docs/resources/index.mdx
Due: prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

finish resource structure changes
  docs/resources/index.mdx
  docs/resources/rigil.mdx
  docs/sidebars.js
Due: eslint --fix, prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

Adjusts info + typescript updates
  docs/resources/typescript-sdk.mdx
  docs/tutorials/send-transactions.mdx
Due: prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

Build a SUAPP tutorial (#71)
  docs/resources/index.mdx
  docs/resources/rigil.mdx
  docs/resources/typescript-sdk.mdx
  docs/sidebars.js
  docs/tutorials/build-suapps.mdx
  docs/tutorials/send-transactions.mdx
Due: eslint --fix, prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

Changes pm, updates docusaurus, fixes linting & cleans up errors from that + formats
  .cspell.json
  .github/workflows/pr-tests.yml
  .stylelintignore
  Makefile
  README.md
  docs/cheatsheet.mdx
  docs/design-goals.mdx
  docs/index.mdx
  docs/resources/index.mdx
  docs/resources/rigil.mdx
  docs/resources/tools-resources.mdx
  docs/resources/typescript-sdk.mdx
  docs/sidebars.js
  docs/tutorials/create-precompiles.mdx
  docs/tutorials/deploy-contracts.mdx
  docs/tutorials/index.mdx
  docs/tutorials/run-suave.mdx
  docs/tutorials/send-transactions.mdx
  docs/what-is-suave.mdx
  package-lock.json
  package.json
  src/components/List/List.tsx
  src/components/RPCButton/index.tsx
  src/components/Video/Video.tsx
  src/css/custom.css
  src/theme/Root.js
  tsconfig.json
  vercel.json
  yarn.lock
Due: eslint --fix, stylelint --allow-empty-input --fix, prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

another test
  docs/resources/rigil.mdx
  docs/resources/tools-resources.mdx
Due: prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress
