Repository flashbots/suave-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --allow-empty-input --fix, prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

another test
  docs/resources/tools-resources.mdx
Due: prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

test?
  docs/resources/tools-resources.mdx
Due: prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

Build, Linting, Formatting (#72)
  .cspell.json
  .github/workflows/pr-tests.yml
  .stylelintignore
  Makefile
  README.md
  docs/cheatsheet.mdx
  docs/design-goals.mdx
  docs/index.mdx
  docs/resources/index.mdx
  docs/resources/rigil.mdx
  docs/resources/tools-resources.mdx
  docs/resources/typescript-sdk.mdx
  docs/sidebars.js
  docs/tutorials/create-precompiles.mdx
  docs/tutorials/deploy-contracts.mdx
  docs/tutorials/index.mdx
  docs/tutorials/run-suave.mdx
  docs/tutorials/send-transactions.mdx
  docs/what-is-suave.mdx
  package-lock.json
  package.json
  src/components/List/List.tsx
  src/components/RPCButton/index.tsx
  src/components/Video/Video.tsx
  src/css/custom.css
  src/theme/Root.js
  tsconfig.json
  vercel.json
  yarn.lock
Due: eslint --fix, stylelint --allow-empty-input --fix, prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

fix outdated code examples in suave-viem docs
  docs/resources/typescript-sdk.mdx
Due: prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

fill missing transport url
  docs/resources/typescript-sdk.mdx
Due: prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

fix outdated code examples in suave-viem docs (#74)
  docs/resources/typescript-sdk.mdx
Due: prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

update example
  docs/resources/rigil.mdx
Due: prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

update curl example (#75)
  docs/resources/rigil.mdx
Due: prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

Addresses https://gist.github.com/adrienmo/e215b16509077caef840d359fd2b5b1b
  docs/tutorials/create-precompiles.mdx
  docs/tutorials/deploy-contracts.mdx
  docs/tutorials/run-suave.mdx
  docs/tutorials/send-transactions.mdx
  docs/what-is-suave.mdx
Due: prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

Spelling and format fix
  docs/tutorials/deploy-contracts.mdx
  docs/what-is-suave.mdx
Due: prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

Addresses Adrien's Feedback (#76)
  docs/tutorials/create-precompiles.mdx
  docs/tutorials/deploy-contracts.mdx
  docs/tutorials/run-suave.mdx
  docs/tutorials/send-transactions.mdx
  docs/what-is-suave.mdx
Due: prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

Add more languages for syntax highlighting
  docusaurus.config.js
Due: eslint --fix, prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

update specs dep
  Makefile
Due: prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

fix
  docusaurus.config.js
Due: eslint --fix, prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

Add more languages for syntax highlighting (#77)
  Makefile
  docusaurus.config.js
Due: eslint --fix, prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

Goodbye to bids
  docs/builder-solidity.mdx
  docs/resources/forge.mdx
  docs/tutorials/build-suapps.mdx
  docs/tutorials/send-transactions.mdx
Due: prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

further viem updates
  docs/tutorials/build-suapps.mdx
Due: prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

Goodbye bids (#78)
  docs/builder-solidity.mdx
  docs/resources/forge.mdx
  docs/tutorials/build-suapps.mdx
  docs/tutorials/send-transactions.mdx
Due: prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

update specs + images
  static/assets/OFA-example-flow.svg
Due: prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

fixes broken links
  docs/tutorials/send-transactions.mdx
Due: prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

Update specs + images (#79)
  docs/tutorials/send-transactions.mdx
  static/assets/OFA-example-flow.svg
Due: prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

Update run-suave.mdx
  docs/tutorials/run-suave.mdx
Due: prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

Update run-suave.mdx (#80)
  docs/tutorials/run-suave.mdx
Due: prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

outline of new pages
  docs/resources/forge.mdx
  docs/resources/index.mdx
  docs/resources/sdks/golang-sdk.mdx
  docs/resources/sdks/index.mdx
  docs/resources/sdks/typescript-sdk.mdx
  docs/resources/suave-solidity/block-building-interface.mdx
  docs/resources/suave-solidity/confidenital-computation.mdx
  docs/resources/suave-solidity/confidential-data-storage.mdx
  docs/resources/suave-solidity/index.mdx
  docs/resources/suave-solidity/mev-supplychain-interface.mdx
  docs/resources/suave-solidity/suave-standard-library.mdx
  docs/sidebars.js
  docs/tutorials/build-suapps.mdx
  docs/tutorials/deploy-contracts.mdx
Due: eslint --fix, prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

Keeping up with the Borreguero's
  docs/sidebars.js
  docs/tutorials/build-suapps.mdx
  docs/tutorials/confidential-compute-requests.mdx
  docs/tutorials/deploy-contracts.mdx
  docs/tutorials/run-suave.mdx
  package-lock.json
Due: eslint --fix, prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

Keeping up with the Borreguero's (#82)
  docs/sidebars.js
  docs/tutorials/build-suapps.mdx
  docs/tutorials/confidential-compute-requests.mdx
  docs/tutorials/deploy-contracts.mdx
  docs/tutorials/run-suave.mdx
  package-lock.json
Due: eslint --fix, prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

block building interface
  docs/resources/suave-solidity/block-building-interface.mdx
  docs/resources/suave-solidity/confidenital-computation.mdx
Due: prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

add some more detail
  docs/resources/suave-solidity/confidenital-computation.mdx
  docs/resources/suave-solidity/confidential-data-storage.mdx
  docs/resources/suave-solidity/mev-supplychain-interface.mdx
  docs/resources/suave-solidity/suave-standard-library.mdx
Due: prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

Integratoooooor!
  docs/index.mdx
  docs/resources/golang-sdk.mdx
  docs/resources/sdks/index.mdx
  docs/resources/suave-solidity/confidenital-computation.mdx
  docs/resources/suave-solidity/index.mdx
  docs/resources/typescript-sdk.mdx
  docs/resources/unique-features/block-building.mdx
  docs/resources/unique-features/confidenital-computation.mdx
  docs/resources/unique-features/confidential-data-storage.mdx
  docs/resources/unique-features/index.mdx
  docs/resources/unique-features/mev-supplychain-interface.mdx
  docs/sidebars.js
  docs/tutorials/build-suapps.mdx
  docs/tutorials/confidential-compute-requests.mdx
  docs/tutorials/deploy-contracts.mdx
  docs/tutorials/suave-standard-library.mdx
Due: eslint --fix, prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

Finish off first run
  docs/resources/unique-features/confidential-computation.mdx
  docs/resources/unique-features/confidential-data-storage.mdx
  docs/resources/unique-features/mev-supplychain-interface.mdx
  docs/sidebars.js
  static/img/mev-supply-network.png
  static/img/mev-supplychain.png
Due: eslint --fix, prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

Fix spelling, adjust sidebar naming
  docs/resources/unique-features/block-building.mdx
  docs/resources/unique-features/confidential-computation.mdx
  docs/resources/unique-features/confidential-data-storage.mdx
  docs/resources/unique-features/index.mdx
  docs/resources/unique-features/mev-supplychain-interface.mdx
  docs/sidebars.js
  docs/tutorials/build-suapps.mdx
  docs/tutorials/confidential-compute-requests.mdx
  docs/tutorials/create-precompiles.mdx
  docs/tutorials/deploy-contracts.mdx
  project-words.txt
Due: eslint --fix, prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

Fix build
  docs/resources/forge.mdx
  docs/resources/index.mdx
  docs/tutorials/build-suapps.mdx
Due: prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

Attends to George's feedback, with gratitude
  docs/resources/unique-features/block-building.mdx
  docs/resources/unique-features/confidential-computation.mdx
  docs/resources/unique-features/confidential-data-storage.mdx
  docs/resources/unique-features/mev-supplychain-interface.mdx
Due: prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

furter tee info from dmarzzz discussion
  docs/resources/unique-features/confidential-computation.mdx
Due: prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

update forge page, fix now-broken links
  docs/resources/forge.mdx
  docs/what-is-suave.mdx
Due: prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

Still keeping up with the Borreguero's
  docs/resources/unique-features/confidential-data-storage.mdx
  docs/resources/unique-features/mev-supplychain-interface.mdx
Due: prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

Fix broken faucet link
  docs/resources/forge.mdx
Due: prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx,mjs}
  stylelint --allow-empty-input --fix: any of: *.css
  prettier --ignore-unknown --write: any of: *
  cspell --no-must-find-files --no-progress: any of: *
