Repository flashbots/suave-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --allow-empty-input --fix, prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

fix broken links
  docs/what-to-build.mdx
Due: prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

Docusaurus update (#102)
  docs/what-to-build.mdx
  package.json
  yarn.lock
Due: prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

disable contextual search to fix docusaurus
  docusaurus.config.js
Due: eslint --fix, prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

clean up some titles, remove superfluous text
  docs/concepts/index.mdx
  docs/index.mdx
  docs/tools/index.mdx
  docs/tutorials/index.mdx
  docusaurus.config.js
Due: eslint --fix, prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

clean up some titles, remove superfluous text (#103)
  docs/concepts/index.mdx
  docs/index.mdx
  docs/tools/index.mdx
  docs/tutorials/index.mdx
  docusaurus.config.js
Due: eslint --fix, prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

update suave-viem code examples
  docs/tools/typescript-sdk.mdx
Due: prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

fix invalid code block language
  docs/tools/typescript-sdk.mdx
Due: prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

update suave-viem code examples (#104)
  docs/tools/typescript-sdk.mdx
Due: prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

Begin reworking tutorials
  docs/concepts/offchain-http.mdx
  docs/sidebars.js
  docs/tutorials/build-suapp-webapp.mdx
  docs/tutorials/deploy-contracts.mdx
  docs/tutorials/onchain-offchain.mdx
  docs/tutorials/run-suave.mdx
  package-lock.json
  yarn.lock
Due: eslint --fix, prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

Update Suave-std api reference
  docs/tools/suave-std/protocols/EthJsonRPC.mdx
Due: prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

CDS + External calls beginning
  docs/sidebars.js
  docs/tutorials/build-suapp-webapp.mdx
  docs/tutorials/confidential-store.mdx
  docs/tutorials/deploy-contracts.mdx
  docs/tutorials/external-call.mdx
  docs/tutorials/onchain-offchain.mdx
Due: eslint --fix, prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

Nearly there
  docs/tutorials/confidential-store.mdx
  docs/tutorials/external-call.mdx
Due: prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

the cherry on top
  docs/tutorials/deploy-contracts.mdx
  docs/tutorials/external-call.mdx
Due: prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

Tutorials Overhaul (#105)
  docs/concepts/offchain-http.mdx
  docs/sidebars.js
  docs/tutorials/build-suapp-webapp.mdx
  docs/tutorials/confidential-store.mdx
  docs/tutorials/deploy-contracts.mdx
  docs/tutorials/external-call.mdx
  docs/tutorials/onchain-offchain.mdx
  docs/tutorials/run-suave.mdx
  package-lock.json
  yarn.lock
Due: eslint --fix, prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

Update deps + docusaurus
  package-lock.json
  package.json
  yarn.lock
Due: prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

Update deps + docusaurus (#108)
  package-lock.json
  package.json
  yarn.lock
Due: prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

Begin DIP003 and DIP004
  docs/concepts/confidential-computation.mdx
  docs/sidebars.js
  docs/tutorials/community-directory.mdx
  docs/tutorials/confidential-store.mdx
  docs/tutorials/external-call.mdx
  src/css/custom.css
Due: eslint --fix, stylelint --allow-empty-input --fix, prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

e2e examples worth highlighting
  docs/tutorials/community-directory.mdx
Due: prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

Completes dip003 and dip004
  docs/concepts/block-building.mdx
  docs/concepts/confidential-computation.mdx
  docs/concepts/confidential-data-storage.mdx
  docs/concepts/mev-supplychain-interface.mdx
  docs/concepts/offchain-http.mdx
  docs/concepts/rpc-differences.mdx
  docs/sidebars.js
  docs/tools/community-directory.mdx
  docs/tools/forge.mdx
  docs/tools/index.mdx
  docs/tutorials/external-call.mdx
  docs/tutorials/rigil.mdx
  docs/what-is-suave.mdx
  docs/what-to-build.mdx
  package-lock.json
  package.json
  src/components/RPCButton/index.tsx
Due: eslint --fix, prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

change mev-blocker emoji
  docs/what-to-build.mdx
Due: prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

DIP003 and DIP004 (#109)
  docs/concepts/block-building.mdx
  docs/concepts/confidential-computation.mdx
  docs/concepts/confidential-data-storage.mdx
  docs/concepts/mev-supplychain-interface.mdx
  docs/concepts/offchain-http.mdx
  docs/concepts/rpc-differences.mdx
  docs/sidebars.js
  docs/tools/community-directory.mdx
  docs/tools/forge.mdx
  docs/tools/index.mdx
  docs/tutorials/confidential-store.mdx
  docs/tutorials/external-call.mdx
  docs/tutorials/rigil.mdx
  docs/what-is-suave.mdx
  docs/what-to-build.mdx
  package-lock.json
  package.json
  src/components/RPCButton/index.tsx
  src/css/custom.css
Due: eslint --fix, stylelint --allow-empty-input --fix, prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

Remove dead pages, add reference to web app for ease
  docs/tutorials/build-suapp-webapp.mdx
  docs/tutorials/rigil.mdx
  docs/tutorials/send-transactions.mdx
Due: prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

One more dead page
  docs/tutorials/confidential-compute-requests.mdx
Due: prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

Remove dead pages, add reference to web app for ease (#111)
  docs/tutorials/build-suapp-webapp.mdx
  docs/tutorials/confidential-compute-requests.mdx
  docs/tutorials/rigil.mdx
  docs/tutorials/send-transactions.mdx
Due: prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

fixes #110
  docs/tools/suave-std-index.mdx
Due: prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

Fixes #110 (#112)
  docs/tools/suave-std-index.mdx
Due: prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

dmarz requests
  docs/tools/community-directory.mdx
  src/components/Pirates/index.tsx
  src/components/Pirates/pirates.json
  src/components/SuappRequest/index.tsx
  src/css/custom.css
Due: eslint --fix, stylelint --allow-empty-input --fix, prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

metachris feedback + ccr-rs
  docs/tools/community-directory.mdx
  docs/tutorials/rigil.mdx
Due: prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

Improve the Community Directory (#113)
  docs/tools/community-directory.mdx
  docs/tutorials/rigil.mdx
  src/components/Pirates/index.tsx
  src/components/Pirates/pirates.json
  src/components/SuappRequest/index.tsx
  src/css/custom.css
Due: eslint --fix, stylelint --allow-empty-input --fix, prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

Correct links + tutorial fixes
  docs/tools/community-directory.mdx
  docs/tutorials/confidential-store.mdx
  docs/tutorials/external-call.mdx
Due: prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

Correct links + tutorial fixes (#114)
  docs/tools/community-directory.mdx
  docs/tutorials/confidential-store.mdx
  docs/tutorials/external-call.mdx
Due: prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

link fix
  docs/tools/community-directory.mdx
Due: prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

link fix (#115)
  docs/tools/community-directory.mdx
Due: prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

Add nftee link
  docs/tools/community-directory.mdx
Due: prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

Add nftee (#116)
  docs/tools/community-directory.mdx
Due: prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

Adds Miha's new rust lib
  docs/tutorials/rigil.mdx
Due: prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

Add alloy (#117)
  docs/tutorials/rigil.mdx
Due: prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

fix spelling
  docs/tutorials/rigil.mdx
Due: prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

fix spelling (#118)
  docs/tutorials/rigil.mdx
Due: prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

fix confidential store tutorial
  docs/tutorials/confidential-store.mdx
Due: prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx,mjs}
  stylelint --allow-empty-input --fix: any of: *.css
  prettier --ignore-unknown --write: any of: *
  cspell --no-must-find-files --no-progress: any of: *
