Repository flashbots/suave-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --allow-empty-input --fix, prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

Working template file
  .env.template
Due: prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

Fix front page box styles
  docs/index.mdx
Due: prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

Fix front page box styles (#51)
  docs/index.mdx
Due: prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

Fixes linting + dark theme css for homepage boxes
  .eslintignore
  babel.config.js
  docs/index.mdx
  docusaurus.config.js
  package.json
  src/css/custom.css
  tsconfig.json
  yarn.lock
Due: eslint --fix, stylelint --allow-empty-input --fix, prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

fix testing
  docs/index.mdx
Due: prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

Fixes linting + dark theme css for homepage boxes (#52)
  .eslintignore
  babel.config.js
  docusaurus.config.js
  package.json
  src/css/custom.css
  tsconfig.json
  yarn.lock
Due: eslint --fix, stylelint --allow-empty-input --fix, prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

Update dev-tooling.mdx
  docs/dev-tooling.mdx
Due: prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

Update index.mdx
  docs/index.mdx
Due: prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

Update dev-tooling.mdx (#53)
  docs/dev-tooling.mdx
Due: prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

Update root disclaimer (#54)
  docs/index.mdx
Due: prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

Adds same border styles as appear in DocCardList docusaurus theme pkg
  src/css/custom.css
Due: stylelint --allow-empty-input --fix, prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

Adds same border styles as appear in DocCardList docusaurus theme pkg (#55)
  src/css/custom.css
Due: stylelint --allow-empty-input --fix, prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

Dan's feedback
  docs/how-to/run-suave/index.mdx
Due: prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

Dan's feedback (#56)
  docs/how-to/run-suave/index.mdx
Due: prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

readme: update specs
  README.md
Due: prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

readme: update specs (#58)
  README.md
Due: prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

minor spice-up to landing page
  Makefile
  docs/index.mdx
  docs/sidebars.js
  docs/what-to-build.mdx
Due: eslint --fix, prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

make community icons a bit smaller
  docs/index.mdx
Due: prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

better icons
  docs/index.mdx
Due: prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

a little better run-locally -- all infos on the page
  docs/how-to/run-suave/index.mdx
Due: prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

vercel redirect
  vercel.json
Due: prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

more info
  docs/how-to/run-suave/index.mdx
Due: prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

minor spice-up to landing page (#59)
  Makefile
  docs/how-to/run-suave/index.mdx
  docs/index.mdx
  docs/sidebars.js
  docs/what-to-build.mdx
  vercel.json
Due: eslint --fix, prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

fix homepage link + minor nav fix
  docs/how-to/interact-with-suave/index.mdx
  docs/how-to/run-suave/index.mdx
  docs/index.mdx
Due: prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

fix homepage link + minor nav fix (#60)
  docs/how-to/interact-with-suave/index.mdx
  docs/how-to/run-suave/index.mdx
  docs/index.mdx
Due: prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

update viem code examples
  docs/how-to/interact-with-suave/typescript-sdk.mdx
  docusaurus.config.js
Due: eslint --fix, prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

remove comment about unsupported feature
  docs/how-to/interact-with-suave/typescript-sdk.mdx
Due: prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

Restructure based on all feedback
  docs/builder-solidity.mdx
  docs/design-goals.mdx
  docs/explanations/dev-tools.mdx
  docs/explanations/ecosystem.mdx
  docs/explanations/forge.mdx
  docs/explanations/golang-sdk.mdx
  docs/explanations/index.mdx
  docs/explanations/rpc.mdx
  docs/explanations/typescript-sdk.mdx
  docs/how-to/create-contracts/confidential.mdx
  docs/how-to/create-contracts/deploy-custom.mdx
  docs/how-to/create-contracts/index.mdx
  docs/how-to/create-contracts/ofa.mdx
  docs/how-to/index.mdx
  docs/how-to/interact-with-suave/deploy-and-test-example-suapp.mdx
  docs/how-to/interact-with-suave/fund-local-account.mdx
  docs/how-to/run-suave/build-yourself.mdx
  docs/how-to/run-suave/index.mdx
  docs/how-to/run-suave/with-docker.mdx
  docs/how-to/send-transactions.mdx
  docs/index.mdx
  docs/sidebars.js
  docs/tutorials/create-precompiles.mdx
  docs/tutorials/deploy-a-contract.mdx
  docs/tutorials/fund-an-account.mdx
  docs/tutorials/holder.mdx
  docs/tutorials/index.mdx
  docs/tutorials/run-suave.mdx
  docs/tutorials/send-transactions.mdx
  docs/what-is-suave.mdx
  package.json
  src/components/Checkbox/index.tsx
  src/components/Grid/Grid.tsx
  src/components/Grid/styles.module.css
  src/components/GridBlock/GridBlock.tsx
  src/components/GridBlock/styles.module.css
  src/components/RPCButton/index.tsx
  src/css/custom.css
  src/theme/Root.js
  yarn.lock
Due: eslint --fix, stylelint --allow-empty-input --fix, prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

Fix build
  docs/builder-solidity.mdx
  docs/explanations/forge.mdx
  docs/what-is-suave.mdx
Due: prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

Add another deleted page
  docs/dev-tooling.mdx
Due: prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

Adds Arena X
  docs/explanations/ecosystem.mdx
Due: prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

don't be opinionated about protocols
  docs/tutorials/run-suave.mdx
Due: prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

Keep plurals + caps in the sidebar the same, filenames as short as possible
  docs/builder-solidity.mdx
  docs/index.mdx
  docs/sidebars.js
  docs/tutorials/deploy-contracts.mdx
  docs/tutorials/fund-accounts.mdx
  docs/tutorials/send-transactions.mdx
Due: eslint --fix, prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

Begin attending to dmarz feedback
  docs/developers/dev-tools.mdx
  docs/developers/ecosystem.mdx
  docs/developers/forge.mdx
  docs/developers/golang-sdk.mdx
  docs/developers/index.mdx
  docs/developers/rpc.mdx
  docs/developers/typescript-sdk.mdx
  docs/sidebars.js
  docs/tutorials/deploy-contracts.mdx
  docs/tutorials/fund-accounts.mdx
  docs/tutorials/send-transactions.mdx
Due: eslint --fix, prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

remove double warnings
  docs/tutorials/send-transactions.mdx
Due: prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

fix broken link, add typescript code block support
  docs/how-to/interact-with-suave/typescript-sdk.mdx
  docusaurus.config.js
Due: eslint --fix, prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

add forge instructions in 'Deploy Custom Contracts' page
  docs/how-to/create-contracts/deploy-custom.mdx
Due: prettier --ignore-unknown --write, cspell --no-must-find-files --no-progress

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx,mjs}
  stylelint --allow-empty-input --fix: any of: *.css
  prettier --ignore-unknown --write: any of: *
  cspell --no-must-find-files --no-progress: any of: *
